@(title: String, css: Html = Html(""), user: securesocial.core.Identity = null)(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>Meatbros - @Messages(title)</title>
    <link rel="icon"
          type="image/png"
          href="@routes.Assets.at(" images/favicon.png")">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/bootstrap-theme.css")">
    <link rel="stylesheet" href="@routes.Assets.at("font-awesome/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
    <!-- blueimp Gallery styles -->
    <link rel="stylesheet" href="http://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
    <!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.fileupload.css")">
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.fileupload-ui.css")">
    <!-- CSS adjustments for browsers with JavaScript disabled -->
    <noscript>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.fileupload-noscript.css")">
    </noscript>
    <noscript>
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/jquery.fileupload-ui-noscript.css")">
    </noscript>
    @css

</head>

<body>


<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">@Messages("title")</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">

                @if(title.equals("Home")) {
                <li class="active">
                    } else {
                <li>
                    }
                    <a href="/"><span class="fa fa-home"/></a>
                </li>
                @views.html.base.login_dropdown.render(user)

                @if(title.equals("All")) {
                <li class="active">
                    } else {
                <li>
                    }
                    <a href="@routes.Application.all(1)">@Messages("All")</a>
                </li>

                @if(title.equals("Latest")) {
                <li class="active">
                    } else {
                <li>
                    }
                    <a href="@routes.Application.latest()">@Messages("Latest")</a>
                </li>
                <li class="navbar-form navbar-right">
                    <form action="/s">
                        <div class="input-group" style="max-width: 200px">
                            <input class="form-control" type="text" name="q" placeholder="@Messages("Search")">
                            <span class="input-group-addon"><i class="fa fa-search icon-black"></i></span>
                        </div>
                    </form>
                </li>

            </ul>



        </div>
    </div>
</div>

<div id="content">
    @content
</div>
<div id="push"></div>
</div>

@views.html.base.footer.render()

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/vendor/jquery.ui.widget.js")"></script>

<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Load-Image/js/load-image.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- blueimp Gallery script -->
<script src="http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.iframe-transport.js")"></script>
<!-- The basic File Upload plugin -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.fileupload.js")"></script>
<!-- The File Upload processing plugin -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.fileupload-process.js")"></script>
<!-- The File Upload image preview & resize plugin -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.fileupload-image.js")"></script>
<!-- The File Upload validation plugin -->
<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.fileupload-validate.js")"></script>

<script type="text/javascript" src="@routes.Assets.at("javascripts/jquery.sortable.min.js")"></script>

<script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/app.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/fileApp.js")"></script>
<script type="text/javascript" src="@routes.Assets.at("javascripts/jsApp.js")"></script>


<script>
(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-42388510-1', 'kapplist.com');
ga('send', 'pageview');
</script>

</body>
</html>
